<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<mat-vertical-stepper [linear]="isLinear" #stepper class="col-lg-6" style="float: left;">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select a Endpoint</ng-template>
      <select class="browser-default custom-select spacy-div" [(ngModel)]="viewToCreate.endpointId" [ngModelOptions]="{standalone: true}">
        <option disabled selected value="0">Select view</option>
        <option *ngFor="let v of _dataEndpoints" value="{{v.id}}">{{v.name}}</option>
      </select>
      <div>
        <button mat-button matStepperNext (click)="TryGetFieldsFromEndpoint()">Apply</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Select a Template</ng-template>
      <select  class="browser-default custom-select spacy-div" [(ngModel)]="viewToCreate.templateId" [ngModelOptions]="{standalone: true}">
        <option disabled selected value="0">Select Template</option>
        <option *ngFor="let v of _templates" value="{{v.id}}">{{v.name}}</option>
      </select>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button *ngIf="IsEndpointsFethces" mat-button matStepperNext (click)="TryGetFieldsFromTemplate()">Apply</button>
      </div>
    </form>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Mapping</ng-template>
    <div style="width: 100%">
      <div class="col-lg-5" style="float: left;">
        <mat-form-field *ngFor="let mapping of viewToCreate.mappingsToBeCreated" style="width: 100%; height: 66px">
          <mat-label>{{mapping.dynamicFieldName}}</mat-label>
          <mat-select [(ngModel)]="mapping.externalFieldName">
            <mat-option *ngFor="let property of _endpointFields" [value]="property">
              {{property}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="TryGenerateViewContent(viewToCreate.endpointId, viewToCreate.templateId)">Remap fields</button>
      </div>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="View name" [(ngModel)]="viewToCreate.name" value="{{viewToCreate.name}}">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="View Refresh Interval (m)" [(ngModel)]="viewToCreate.refreshDataIntervalInMinutes" value="{{viewToCreate.refreshDataIntervalInMinutes}}">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Number of data rows" [(ngModel)]="viewToCreate.numberOfRows" value="{{viewToCreate.numberOfRows}}">
      </mat-form-field>
      <button *ngIf="!IsUpdating" mat-button color="primary" (click)="CreateView()">Create</button>
      <button *ngIf="IsUpdating" mat-button color="primary" (click)="UpdateView()">Update</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<div class="view-preview-container col-md-5">
  <h3>View Preview</h3>
  <mat-spinner *ngIf="loadingData"></mat-spinner>
  <div [innerHTML]="_generatedViewContent"></div>
</div>
