


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!isEditing" class="modal-title" id="exampleModalLabel">View selector</h5>
        <h5 *ngIf="isEditing" class="modal-title" >Schedule editor</h5>
        <button type="button" (click)="resetModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <select class="browser-default custom-select spacy-div" [(ngModel)]="scheduleToCreate.viewId">
          <option disabled selected value="0">Select view</option>
          <option *ngFor="let v of _views" value="{{v.id}}">{{v.name}}</option>
        </select>

        <div class="spacy-div modal-datepicker">
          <mat-form-field style="width: 100%">
            <input matInput [matDatepicker]="dp3" placeholder="Start date" [(ngModel)]="scheduleToCreate.startDateTime" [min]="today" [max]="scheduleToCreate.expireDateTime" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false" ></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="spacy-div modal-datepicker">
          <mat-form-field  style="width: 100%">
            <input matInput [matDatepicker]="dp4" placeholder="Expire date" [(ngModel)]="scheduleToCreate.expireDateTime" [min]="scheduleToCreate.startDateTime" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
            <mat-datepicker #dp4 disabled="false" ></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width spacy-div modal-datepicker" style="width:100%;">
          <input matInput placeholder="On screen time in seconds" type="number" [(ngModel)]="scheduleToCreate.onScreenTime" (keypress)="isNumberKey($event)">
        </mat-form-field>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetModal()" >Close</button>
        <button *ngIf="!isEditing"  type="button" class="btn btn-primary" [disabled]="scheduleToCreate.viewId == 0 || scheduleToCreate.onScreenTime == null || scheduleToCreate.startDateTime == null || scheduleToCreate.expireDateTime == null"  (click)="Save()" data-dismiss="modal" >Add Schedule</button>
        <button *ngIf="isEditing" type="button" class="btn btn-primary" [disabled]="scheduleToCreate.viewId == 0 || scheduleToCreate.onScreenTime == null || scheduleToCreate.startDateTime == null || scheduleToCreate.expireDateTime == null"  (click)="Edit()" data-dismiss="modal" >Save Schedule</button>

      </div>
    </div>
  </div>
</div>
