<button type="button" class="btn btn-info" *ngIf="selectedInfoScreen != null" (click)="GoBack()"><-Back</button>



<div class="col-md-12">

  <div class="view-list-container col-md-5" *ngIf="selectedInfoScreen == null">


    <mat-nav-list cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-list-item *ngFor="let view of _views" (click)="selectView(view.id)" [ngClass]="selectedViewId == view.id ? 'active':false"  class="example-box"  cdkDrag>
        <pre class="col-md-10" style="font-size: 17px">{{view.name}}</pre>
        <pre class="col-md-2"></pre>
      </mat-list-item>
    </mat-nav-list>
  </div>


  <div class="view-list-container col-md-5" *ngIf="selectedInfoScreen != null">

    <button type="button" class="btn btn-success add-btn" (click)="openDialog()" data-toggle="modal" data-target="#exampleModal">Add schedule</button>
    <h3>{{selectedInfoScreen.name}}</h3>
    <mat-nav-list cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <mat-list-item cdkDrag [cdkDragData]="schedule" *ngFor="let schedule of _schedules"  [ngClass]="selectedViewId == schedule.viewId ? 'active':false"  class="example-box"  cdkDrag>
        <pre class="col-md-9" style="font-size: 17px" (click)="selectView(schedule.viewId)">{{schedule.viewName}}</pre>
        <pre class="col-md-2"><button type="button" class="btn btn-warning remove-btn"  data-toggle="modal" data-target="#exampleModal" (click)="EditSchedule(schedule)">Edit</button></pre>
        <pre class="col-md-2"><button type="button" class="btn btn-danger remove-btn" (click)="DeleteSchedule(schedule.id)">Remove</button></pre>
      </mat-list-item>
    </mat-nav-list>
  </div>


  <div class="col-md-1 float-sm-left" style="float: left; height: 100%">
    <p></p>
  </div>
  <div class="view-preview-container col-md-5">
    <mat-spinner *ngIf="loadingData"></mat-spinner>
    <div [innerHTML]="_selectedViewContent"></div>
  </div>
</div>


<app-view-picker-dialog
  [setScheduleToEdit]="scheduleToEdit"
[views]="_views"
(newCreatedScheduleEvent)="newCreatedSchedule($event)"
  (newUpdatedScheduleEvent)="newUpdatedSchedule($event)"
  (resetScheduleToEdit)="resetScheduleToEdit()"
></app-view-picker-dialog>


