example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 30px;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/** My own styles **/

.view-list-container{
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
  float: left;
}

.view-preview-container{

  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 500px;
  float: left;
}

.mat-nav-list a.active {
  color: blue;
}

.active{
   color: black;
  font-weight: bold;
 }

.add-btn{
  right: 0;
  position: absolute;
  margin-top: -17px;
  margin-right: 3px;
}

.remove-btn{
  margin-top: 15px;
  float: right;
}
