
.parent-tile{
  padding:  5px;
  margin-top: 10px;
}

.child-tile{
  margin: 5px;
}
mat-card{
  font-size: 14px;
}

.card{
  box-shadow: 1px 1px 3px;
  min-height: 177px;
  width: 98%; max-height: 90%;
}

.mouseover-hover:hover{
  cursor: pointer;
  box-shadow: 2px 2px 7px;
}
