<div class="col-md-12" *ngIf="selectedInfoScreen == null">
  <div class="parent-tile  col-lg-4 float-lg-left" *ngFor="let screen of _infoScreens">
    <div class="card" >
      <div align="center" (click)="selectedInfoScreen = screen" class="card-header mouseover-hover">
        {{screen.name}}
      </div>
      <div class="card-body" *ngIf="screen.scheduleList.length > 0">

          <div  class="child-tile float-sm-left" *ngFor="let schedule of screen.scheduleList">
            <mat-card  class="mouseover-hover" style="padding: 5px; margin: 1px; width: 100%">
              {{schedule.viewName}}
            </mat-card>
          </div>

      </div>
      <div class="card-body" *ngIf="screen.scheduleList.length == 0">
        <p>Empty...</p>
      </div>
    </div>
  </div>
</div>

<app-info-view *ngIf="selectedInfoScreen != null"
               [selectedInfoScreen]="selectedInfoScreen"
               (goBackEmitter)="ResetSelectedInfoScreen()"
></app-info-view>
